<form asp-controller="User" asp-action="Logoff">
  <div class="jumbotron">
    <h1 class="display-4">Até logo</h1>
    <p class="lead">Você realmente quer sair do sistema?</p>
    <input type="submit" value="Sim" class="btn btn-primary" />
  </div>
</form>
